@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div class=" px-4" style="display: flex;">
    <p style="color:black;">Background color: </p>
    <div style="padding-left: 10;">
        <RadzenColorPicker @bind-Value="@backgroundColor" ShowHSV="true" ShowRGBA="false" ShowColors="true" ShowButton="false" />
    </div>
    
</div>

<div style="width:100%; height:100%; background-color:@backgroundColor;">
    <div>
        <p>Test</p>
    </div>
</div>

@code {
    private string backgroundColor = "rgb(255, 255, 255)";
}